<p id="notice"><%= notice %></p>

<p>
  <strong> name department:</strong>
  <%= @department. name_department %>
</p>

<p>
  <strong>Code department:</strong>
  <%= @department.code_department %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
