<p id="notice"><%= notice %></p>

<p>
  <strong> name city:</strong>
  <%= @city. name_city %>
</p>

<p>
  <strong>Code city:</strong>
  <%= @city.code_city %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
